$breakpoints: (
    "mobile": "700px",
    "tablet": "1042px"
);

$colour-primary: rgb(255, 255, 244);
$colour-secondary: rgb(103, 103, 98);

$colour-border: rgb(65, 65, 65);
$colour-loser: rgb(222, 98, 98);